---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Contacto IA³ | Grupo de IA aplicada (UJI)"
  description="Contacto del grupo IA³ de inteligencia artificial aplicada y algoritmos en la UJI.">
  <Header currentPage='contact' />
  <main class='w-fit h-fit m-auto absolute top-0 left-0 right-0 bottom-0'>
    <h1 class="text-6xl text-center">ia3 AT uji DOT es</h1>
    <a
      href="https://www.linkedin.com/company/107891652"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-600 hover:underline text-center block mt-4">
      IA³ en LinkedIn
    </a>
  </main>
</Layout>
