---
import Header from "../components/Header.astro";
import Link from "../icons/Link.astro";
import Layout from "../layouts/Layout.astro";
import { DEMOS } from "../lib/demos";
---

<Layout>
  <Header currentPage='demos' />
  <main
    class='w-full flex flex-col items-center justify-center md:py-12 md:px-56 py-4 px-10'>
    <h1 class='text-2xl text-center'>Project Demos</h1>
    <div class='grid md:grid-cols-3 grid-cols-1 gap-8 mt-8 max-w-6xl'>
      {
        DEMOS.map((demo) => (
          <div class='hover:shadow-lg transition-shadow duration-300 p-3 bg-white rounded-2xl shadow-md flex flex-col justify-between gap-3 max-w-80'>
            <img
              class='aspect-square rounded-sm object-cover overflow-hidden'
              src={`/demos/${demo.image}`}
            />
            <h1 class='text-xl flex-1'>{demo.name}</h1>
            <p class='text-base'>{demo.description}</p>
            {demo.link && (
              <a
                href={demo.link}
                target='_blank'
                rel='noopener noreferrer'
                class='border border-blue-800 rounded-sm px-4 py-2 hover:bg-blue-200 transition-all duration-300 cursor-pointer text-center flex items-center justify-center gap-2'>
                <Link class='size-4' />
                Live Demo
              </a>
            )}
          </div>
        ))
      }
    </div>
  </main>
</Layout>
